{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <h1>{{ room.label }}</h1>
  <p class="quiet">
    欢迎加入狼人杀游戏！  
  </p>
  <p>
    <label for="handle">您的座位号码是：</label>
    <input id="handle" type="text" placeholder="handle" value={{position}} readonly>
  </p>
  <form id="startGame">
    <button type="submit" id="startGame">开始游戏</button>
  </form>
  <form id="identification">
    <button type="submit" id="identification">揭示身份</button>
  </form>
  <form id="jugdementView">
    <button type="submit" id="judgementView">法官视角</button>
  </form>
  <form id="chatform">
  <div style="height:30%; overflow:auto;">
    <table id="chat">
    <thead>
       Message List
    </thead>
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.formatted_timestamp }}</td>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr> 
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div>
    <input id="message" type="text" placeholder="message">
    <button type="submit" id="go">投票</button>
    </div>
  </form>
  <form id="bloom">
    <button type="submit" id="bloom">爆！</button>
  </form>

{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script type="text/javascript" src='https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js'></script>
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}